/*
 * Fonts
 */
/*
 * Colors
 */
/*
 * Constructors
 */
/* (Retina) apply high-resolution background images */
/* Create a cross-browser compatible box-shadow */
/* Create a cross-browser compatible border-radius */
/* Create a cross-browser compatible linear gradient */
/* Create a button in the standard site style */
/*
 * Base Styles
 */
* {
  padding: 0;
  margin: 0;
  outline-style: none;
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  color: #0d2f3c;
  background-color: #fafbfc;
}
div.inner {
  width: 1000px;
  margin: 0 20px;
}
br.clearFloats {
  height: 0;
  clear: both;
}
.wrapper {
  width: 1040px;
  margin: 0 auto;
}
/* Primary Header */
header {
  background-color: rgba(250, 251, 252, 0.95);
  height: 34px;
  min-width: 1000px;
  width: 100%;
  padding: 8px 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  -moz-box-shadow: 0px 1px 1px 0px rgba(11, 38, 48, 0.32);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(11, 38, 48, 0.32);
  box-shadow: 0px 1px 1px 0px rgba(11, 38, 48, 0.32);
  position: fixed;
  z-index: 1;
}
header a {
  color: #0d2f3c;
  text-decoration: none;
}
header a:hover {
  color: #24aadf;
}
header h3 {
  /* normal */
  background-image: url("../../images/main/pl-logo-min/index.png");
  background-position: center center;
  background-repeat: no-repeat;
  /* retina */
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
  border-right: 1px solid #dde0e1;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  header h3 {
    background-image: url(../../images/main/pl-logo-min_2x/index.png);
    background-size: 34px 34px;
  }
}
header ul {
  float: right;
  height: 34px;
  margin-left: auto;
}
header ul li {
  display: inline-block;
  line-height: 34px;
  padding: 0 20px;
  border-right: 1px solid #dde0e1;
}
header ul li:last-child {
  border: none;
}
/* Position 'main' content below fixed header */
div#main {
  padding-top: 50px;
}
/* Primary Footer */
footer {
  width: 1040px;
  margin: 0 auto;
}
footer .inner {
  margin: 64px 20px 32px 20px;
  border-top: 1px solid #dde0e1;
  padding-top: 70px;
  /* normal */
  background-image: url("../../images/main/flask/index.png");
  background-position: center 16px;
  background-repeat: no-repeat;
  /* retina */
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1;
  color: #677073;
  text-align: center;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  footer .inner {
    background-image: url(../../images/main/flask_2x/index.png);
    background-size: 28px 38px;
  }
}
.about span.headingLine {
  display: block;
  height: 0px;
  border-top: 1px solid #dde0e1;
  margin-top: 76px;
}
.about h2 {
  display: block;
  width: 216px;
  margin: -12px auto 46px auto;
  background-color: #fafbfc;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: #24aadf;
  text-transform: uppercase;
  text-align: center;
}
.about a.anchor {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}
.about .subhead {
  background-color: #24aadf;
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(11, 38, 48, 0.32);
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(11, 38, 48, 0.32);
  box-shadow: inset 0px 1px 1px 0px rgba(11, 38, 48, 0.32);
  color: #fafbfc;
  height: 24px;
  min-width: 1000px;
  padding: 42px 20px;
}
.about .subhead .inner {
  max-width: 1000px;
  margin: 0 auto;
}
.about .subhead h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  display: inline-block;
}
.about .subhead ul {
  float: right;
  height: 24px;
  margin-left: auto;
}
.about .subhead ul a {
  color: #fafbfc;
  text-decoration: none;
}
.about .subhead ul li {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  margin-left: 46px;
}
.about #principles {
  width: 1040px;
  margin: 0 auto;
}
.about #principles ul#sectionToggles {
  margin-bottom: 46px;
}
.about #principles ul#sectionToggles li {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 36px;
  color: #24aadf;
  display: inline-block;
  padding: 0 20px;
  margin: 0 24px 0 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid transparent;
}
.about #principles ul#sectionToggles li:first-child {
  margin-right: 23px;
}
.about #principles ul#sectionToggles li:last-child {
  margin-right: 0;
}
.about #principles ul#sectionToggles li.selected,
.about #principles ul#sectionToggles li:hover {
  border-color: #24aadf;
}
.about #principles ul#sectionToggles li:hover {
  cursor: pointer;
}
.about #principles div.principle {
  display: none;
}
.about #principles div.principle.selected {
  display: block;
}
.about #principles span.sectionHead {
  display: block;
  margin-bottom: 20px;
}
.about #principles span.sectionHead h3 {
  display: inline-block;
  width: auto;
  margin-right: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
}
.about #principles span.sectionHead h3 + p {
  display: inline;
}
.about #principles p,
.about #principles li {
  margin-bottom: 20px;
}
.about #principles li {
  padding-left: .5em;
  margin-left: 1em;
}
.about #principles p#next {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  margin-top: 46px;
  text-decoration: underline;
}
.about #principles p#next:hover {
  cursor: pointer;
}
.about #mission {
  background-color: #0d2f3c;
  color: #fafbfc;
  min-width: 1000px;
  padding: 46px 20px;
}
.about #mission p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 36px;
  line-height: 46px;
  max-width: 1000px;
  margin: 0 auto;
}
.about #mission p:last-child {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.3;
  margin-top: 46px;
}
.about #owners {
  width: 1040px;
  margin: 0 auto;
}
.about #owners .owner {
  width: 466px;
  margin-right: 44px;
  padding-top: 162px;
  float: left;
}
.about #owners .owner h3 {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  margin-bottom: 8px;
}
.about #owners .owner h4 {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  color: #24aadf;
  text-align: center;
  padding-bottom: 14px;
  margin-bottom: 4px;
}
.about #owners .owner p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.about #owners #rebecca.owner {
  margin-right: 0;
}
.about #owners #chris.owner {
  /* normal */
  background-image: url("../../images/about/chris/index.png");
  background-position: center 0%;
  background-repeat: no-repeat;
  /* retina */
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .about #owners #chris.owner {
    background-image: url(../../images/about/chris_2x/index.png);
    background-size: 140px 140px;
  }
}
.about #owners #rebecca.owner {
  /* normal */
  background-image: url("../../images/about/rebecca/index.png");
  background-position: center 0%;
  background-repeat: no-repeat;
  /* retina */
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .about #owners #rebecca.owner {
    background-image: url(../../images/about/rebecca_2x/index.png);
    background-size: 140px 140px;
  }
}
/*# sourceMappingURL=about.css.map */